
body {
    background-color: #000000;
    color: white;
    font-family: "Arial Black", sans-serif;
    margin: 0;
    scroll-behavior: smooth; }


.navbar {
    background-color: #111;
    padding: 20px;
    position: fixed; 
    width: 100%;
    text-align: center;
    border-bottom: 3px solid white;
    z-index: 10;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 25px;
    font-size: 14px;
    letter-spacing: 2px;
}


.slide {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo-box {
    font-size: 5rem;
    border: 10px solid white;
    padding: 20px 40px;
    
    animation: pulseEffect 2s infinite ease-in-out;
}

@keyframes pulseEffect {
    0% { transform: scale(1); border-color: white; }
    50% { transform: scale(1.05); border-color: white;  }
    100% { transform: scale(1); border-color: white; }
}


.events-section {
    background-color: #0a0a0a;
    border-top: 5px solid #ff0055;
}

.event-grid {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}


.card {
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 10px;
    width: 200px;
    transition: all 0.4s ease; 
}

.card:hover {
   transform: translateY(-20px) rotate(5deg);
    background-color: #ff0055;
    cursor: pointer;
}



