*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    box-sizing:border-box;
    
}



nav{
    display:flex;
    
    justify-content:space-around;
    align-items: center;
    height:80px;
    width:100%;
    background-color:rgb(3, 3, 56);
   
   
    
}
nav ul{
    display:flex;
    justify-content: center;
  
    
  
}
nav ul li{
    list-style-type: none;
      margin:0 20px;
      
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.text-section {
    flex: 1;
    font-family: sans-serif;
}

.project-item h2 {
    color: #6a85a0;
    margin-bottom: 5px;
}

.project-item a {
    color: #8da0c7;
    text-decoration: none;
}
.image-section{
    display:flex;
    flex-direction: column;
}

.image-section img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
}


.project-item{
    margin-top:60px;
}






.footer{    
    background:rgb(3, 3, 56);     
    height:80px;
    color: white;           
      padding: 11px;            
       display: flex;             
       justify-content: space-between;             
       padding-left: 20%;            
 padding-right: 20%;   
   }
 a{
    text-decoration: none;
    color:white;
 }
.footer p{
    color: white;
}

