*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
   color:white;
    box-sizing:border-box;
    
}



nav{
    display:flex;

    justify-content:space-around;
    align-items: center;
    height:80px;
    width:100%;
    background-color:rgb(3, 3, 56);
   
   
    
}
nav ul{
    display:flex;
    justify-content: center;
  
}
nav ul li{
    list-style-type: none;
      margin:0 20px;
}


.footer{    
    background:rgb(3, 3, 56);     
    height:80px;
    color: white;
    margin-top: 100px;           
      padding: 11px;            
       display: flex;             
       justify-content: space-between;             
       padding-left: 20%;            
 padding-right: 20%;   
   }
 a{
    text-decoration: none;
 }

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    font-family: Arial, sans-serif;
}

.text-section {
    flex: 1;
    padding-right: 40px;
}

.image-section img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.item {
    margin-bottom: 30px;
}

.item h2 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
}

.item h3 {
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: normal;
}

.item p {
    color: #666;
    line-height: 1.6;
    font-size: 16px;
    margin-top: 0;
}


