
.header{
    text-align: center;
}
#a1{
    background-color: skyblue;
}

#a2{width:10px;
    margin-left: 40px;
}
#a2{margin-right: 800px;}
.navbar{
    margin-top: 40px;
    display:flex;
    gap: 20px;

}

.container{
    margin-top: 100px;
    width:100%;
    margin:auto;
}
.container-row1{
    display:flex;
}
.box{
    background-color: aliceblue;
    width:33%;
    padding-left: 30px;
    padding-right:30px;
}
.box1{
    background-color: aliceblue;
    margin-left: 30px;
}
.box2{
    background-color: aliceblue;
    margin-left: 30px;
}
.box3{
    background-color: aliceblue;
    margin-left: 30px;
}

.container-row2{
    display:flex;
}
.box{
    background-color: aliceblue;
    width:33%;
    padding-left: 30px;
    padding-right:30px;
}
.box4{
    background-color: aliceblue;
    margin-left: 30px;
    margin-top: 30px;
}
.box5{
    background-color: aliceblue;
    margin-top: 30px;
    margin-left: 30px;
}
.box6{
    background-color: aliceblue;
    margin-left: 30px;
margin-top: 30px;}
.container-row3{
    display:flex;
}
.box{
    background-color: aliceblue;
    width:33%;
    padding-left: 30px;
    padding-right:30px;
}
.box7{
    background-color: aliceblue;
    margin-left: 30px;
    margin-top: 30px;
}
.box8{
    background-color: aliceblue;
    margin-top: 30px;
    margin-left:30px;
}
.box9{
    background-color: aliceblue;
    margin-left: 30px;
margin-top: 30px;}