body{
    font-family:Arial, Helvetica, sans-serif ;
    padding:0;
    margin:0;
    text-align: center;
}
.header{
    margin-top: 50px;
    margin-bottom: 30px;
}
.container{
    width: 100%;
    margin:auto;
    display:flex;
}
.box{
    width:50%;
    padding: 40px 20px ;
    color:white;
}
.left-box{
    background-color: #2196f3;
}
.right-box{
    background-color: #333;
}
.footer{
    background: black;
            color: white;
            padding: 11px;
            display: flex;
            justify-content: space-between;
            padding-left: 20%;
            padding-right: 20%;
    
}