*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing:border-box;
}


body{
   background-color:rgb(3,3,56);
    color:white;
    background-size:cover;

}
nav{
    display:flex;
   
    justify-content:space-around;
    align-items: center;
    height:80px;
    width:100%;
    background-color:rgb(3, 3, 56);
   
   
    
}
nav ul{
    display:flex;
    justify-content: center;
  
}
nav ul li{
    list-style-type: none;
      margin:0 20px;
}
.hero-container {
    height: 100vh; 
    width: 100%;
    background-color:whitesmoke;
    display: flex;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    padding: 20px;
}
.hero-content{
    max-width:700px;
}



.profile-img {
    width: 150px;
    height: 150px;
    background-color: #ddd; 
    border-radius: 50%;     
    margin: 0 auto 25px auto;
    border: 5px solid white;   
    background-image: url("/img/section1.png");
    background-size: cover;
    
}


h1 {
    font-size: 3rem;
    color: #0c3761;
    margin-bottom: 10px;
}



h2 {
    font-size: 1.5rem;
    color: #8b4141;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-size: 1.1rem;
    color: black;
    line-height: 1.6;
    margin-bottom: 35px;
}


.btn {
    display: inline-block;
    padding: 12px 35px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    
}

.btn:hover {
    background-color: #2980b9;
    transform: translateY(2px);
}


.footer{     background:rgb(3, 3, 56);     
    
    color: white;           
      padding: 11px;            
       display: flex;             
       justify-content: space-between;             
       padding-left: 20%;            
 padding-right: 20%;      }
 a{
    text-decoration: none;
 }
 .footer p{
    color:white;
 }
